@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.App {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  text-align: center;
}

a {
  text-decoration: none;
  /* color: white; */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
